# 编译产物
*.o
*.ko
*.mod.*
*.out

# fdb 测试数据
fdb/fdb
*.db

# bfile 编译产物和测试数据
bfile/bfile
bfile/main
bfile/*.bin

# logd 编译产物
logd/logd

# 已移除的二进制文件
linux-day-2/open_dir
linux-day-5/pipe_demo
linux-day-5/dup2_demo
linux-day-5/sigchild_demo
linux-day-5/signal_demo
linux-day-5/sigchild
